.transactions {
  display: flex;
  padding: var(--spacing-300, 24px) var(--spacing-250, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400, 32px);
  align-self: stretch;
  border-radius: var(--spacing-150, 12px);
  background: var(--color-white, #fff);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-250, 20px);
  align-self: stretch;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  // img {
  //   display: flex;
  //   // height: var(--spacing-500, 40px);
  //   align-items: center;
  //   gap: var(--spacing-200, 16px);
  //   flex: 1 0 0;
  // }

  & .image-container {
    width: var(--spacing-400, 32px);
    height: var(--spacing-400, 32px);
    border-radius: 32px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  & .title {
    display: flex;
    // height: var(--spacing-500, 40px);
    align-items: center;
    gap: var(--spacing-200, 16px);
    flex: 1 0 0;
  }

  & .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-100, 8px);
    text-align: right;

    & .increase {
      color: var(--color-green, #277c78);
    }
  }
}
