.button {
  display: flex;
  // width: 100%;
  padding: var(--spacing-200, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200, 16px);
  cursor: pointer;
  border-radius: var(--spacing-100, 8px);
  border: 1px solid;
  text-decoration: none;

  &.primary {
    background: var(--color-grey-900, #201f24);
    color: var(--color-white, #ffffff);
    border-color: var(--color-grey-900, #201f24);

    &:hover {
      background: var(--color-grey-500, #696868);
      border-color: var(--color-grey-500, #696868);
    }
  }

  &.secondary {
    background: var(--color-beige-100, #f8f4f0);
    border-color: var(--color-beige-100, #f8f4f0);

    &:hover {
      background: var(--color-white, #fff);
      border-color: var(--color-beige-500, #98908b);
    }
  }

  &.tertiary {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-150, 12px);
    border: none;
    padding: 0;
    background: transparent;
    color: var(--color-grey-500, #696868);

    & svg {
      transform: rotate(-90deg);

      path {
        fill: currentColor;
      }
    }

    &:hover {
      color: var(--color-grey-900, #201f24);
    }
  }

  &.destroy {
    color: var(--color-white, #fff);
    background: var(--color-red, #c94736);
    border-color: var(--color-red, #c94736);

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ),
        var(--color-red, #c94736);
    }
  }
}
