@use "../../../mixins" as *;

.page-title {
  display: flex;
  max-width: 480px;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;

  @include mq(md) {
    height: 56px;
    max-width: 800px;
    padding: var(--spacing-100, 8px) 0px;
  }

  @include mq(lg) {
    height: 56px;
    max-width: 1440px;
  }
}
