@use "../../mixins" as *;

.left-side {
  display: flex;
  padding: var(--spacing-300, 24px) var(--spacing-250, 20px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-400, 32px);
  align-self: stretch;
  border-radius: var(--spacing-150, 12px);
  background: var(--color-white, #fff);

  @include mq(md) {
    flex-direction: row;
    padding: var(--spacing-400, 32px);
  }

  @include mq(lg) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;

  @include mq(lg) {
    flex: 1 0 0;
  }
}
