@use "../mixins" as *;

.main {
  display: flex;
  flex-direction: column;

  @include mq(lg) {
    flex-direction: row;
    // @include grid;
  }
}

.mobile-nav {
  display: flex;
  padding: var(--spacing-100, 8px) var(--spacing-200, 16px) 0px
    var(--spacing-200, 16px);
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: var(--color-grey-900, #201f24);
  margin-top: auto;

  @include mq(lg) {
    display: none;
  }
}

.content {
  @include mq(lg) {
    order: 1;
  }
}
