@use "../mixins" as *;

.main {
  display: flex;
  flex-direction: column;

  @include mq(lg) {
    flex-direction: row;
  }
}

.mobile-nav {
  display: flex;
  padding: var(--spacing-100, 8px) var(--spacing-200, 16px) 0px
    var(--spacing-200, 16px);
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: var(--color-grey-900, #201f24);
  margin-top: auto;

  @include mq(lg) {
    display: none;
  }
}

.content {
  display: flex;
  padding: var(--spacing-300, 24px) var(--spacing-200, 16px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400, 32px);
  align-self: stretch;
  flex: 1 0 0;

  @include mq(md) {
    padding: var(--spacing-400, 32px) var(--spacing-500, 40px);
  }

  @include mq(lg) {
    order: 1;
  }
}
