@use "../mixins" as *;

.summary-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;

  @include mq(lg) {
    flex-direction: row;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200, 16px);
  align-self: stretch;

  @include mq(md) {
    gap: var(--spacing-300, 24px);
  }

  @include mq(lg) {
    flex: 1 0 0;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200, 16px);
  align-self: stretch;
}
